body {
  font-family:'Comic Sans MS;
  animation: pulse 8s infinite;
}

@keyframes pulse {
  0% {
    background-color:silver;
  }
  100% {
    background-color: #000000;
  }
}

.center {
    text-align: center;
}

.text-big {
    font-size: 133%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
           max-width: 800px;
           margin: 0 auto;
           color: #9C27B0;
           font-family: sans-serif;
           padding-top: 15px;
           padding-left: 40px;
           padding-right: 80px
           }

