body {
    font-family: sans-serif;
    background-color:silver;
    animation-timing-function: ease-in-out;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 133%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
           max-width: 800px;
           margin: 0 auto;
           color: #9C27B0;
           font-family: sans-serif;
           padding-top: 15px;
           padding-left: 40px;
           padding-right: 80px
           }

